<div class="container-flex bg-dark justify-content-center" style="color: white">
  <div class="row">
    <div class="col-4 p-5">
      <h4 class="">some text</h4>
      <h5>Lorem, ipsum dolor.</h5>
      <h5>Lorem, ipsum.</h5>
    </div>
    <div
      class="d-flex col-4 h-25 justify-content-center"
      style="padding-top: 5rem"
    >
      <button class="btn">Teting</button>
    </div>
    <div class="col-4" style="padding: 3rem; padding-left: 15rem">
      <h4>some icons</h4>
      <h6>some text</h6>
    </div>
  </div>
</div>
