<div>
  <h1>About me</h1>
  <p class="text-sm-start text-md-start text-lg-start text-wrap">
    Studied at AAST , expereince in HTML & CSS ,javascript. currently learning
    angular, Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
    incidunt minus blanditiis eum atque quos, quaerat recusandae dicta dolorem
    nulla! Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
    inventore iste neque provident pariatur sunt modi similique quisquam
    repellat quidem, quis impedit ex laudantium, facere quo unde culpa ducimus
    perferendis explicabo velit nemo molestias. Facere corporis tempora nulla
    fugit, reprehenderit dolores. Libero illo sunt iure sed asperiores modi
    adipisci ipsa.
  </p>

  <button class="flex-fill mb-3" (click)="onClick()">Click Here</button>
</div>
